.welcome {
  background-image: url('../../images/blackjack2.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-size: 50% auto;
  height: 100%;
  display: grid;
  place-items: center;
}
